@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
:root {
  --first-color: #ffb400;
  --second-color: #bdf1f6;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  line-height: 1.5;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--first-color);
}
.title-text {
  font-size: 40px;
  text-align: center;
  color: var(--first-color);
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 0.5rem;
  margin-right: 3.5rem;
  margin-top: 1.4rem;
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(50px);
}
.nav {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: 3.5rem;
    right: -100%;
    width: 55%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--first-color);
    transition: 0.5s;
    backdrop-filter: blur(15px);
    z-index: 100;
  }
  .search-box {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    background: var(--first-color);
    height: 38px;
    border-radius: 200px;
    padding: 4px;
  }
  .search-box:hover > .search-txt {
    width: 130px;
    padding: 0px;
  }

  .search-box:hover > .search-btn {
    background: var(--second-color);
  }

  .search-btn {
    color: var(--second-color);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    background: var(--first-color);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  .search-btn .search {
    color: var(--second-color);
    font-size: 1.2rem;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    padding: 0;
    font-size: 13px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
  }
  .hero .title {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .nav_toggle .menu {
    color: var(--first-color);
  }
}

.nav_item {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: bold;
}
.nav_link {
  position: relative;
  color: #000;
}
.nav_link:hover {
  padding: 3px;
  background-color: rgba(167, 151, 167, 0.205);
  border-radius: 5px;
  color: var(--second-color);
}
.nav_toggle {
  color: var(--second-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.show {
  right: 0;
}

@media screen and (min-width: 768px) {
  .header {
    background-color: transparent;
    backdrop-filter: blur(50px);
  }
  .nav {
    float: right;
    height: calc(2.5rem + 1rem);
  }

  .nav_list {
    display: flex;
  }
  .nav_item {
    margin-left: 1rem;
    margin-bottom: 1.9rem;
  }

  .nav_toggle {
    display: none;
  }
  .nav_link {
    padding: -15px;
    color: var(--first-color);
  }
  .nav_link:hover {
    color: var(--second-color);
    cursor: pointer;
  }
  .nav_item {
    font-size: 18px;
  }
  .search-box {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    background: var(--first-color);
    height: 46px;
    border-radius: 200px;
    padding: 6px;
  }
  .search-box:hover > .search-txt {
    width: 120px;
    padding: 0px;
  }

  .search-box:hover > .search-btn {
    background: var(--second-color);
    cursor: pointer;
  }

  .search-btn {
    color: var(--first-color);
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 70px;
    display: flex;
    background: var(--first-color);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  .search-btn .search {
    font-size: 1.7rem;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    padding: 0;
    font-size: 15px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
  }
  .hero .title {
    font-size: 80px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .contact_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .contact_info {
    margin-left: 20px;
  }
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .footer_data .footer_text {
    color: var(--first-color);
  }
  .footer_title {
    margin-top: 20px;
    font-size: 18px;
  }
  .footer_text,
  .footer_link {
    font-size: 14px;
  }
  .footer_data #footer_copyright {
    position: relative;
    top: 25px;
    font-size: 1rem;
    color: black;
  }
}

#home {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--first-color);
  font-size: 50px;
}
.hero-button {
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 20px;
  position: absolute;
  top: 60vh;

  border-radius: 200px;
  font-weight: bold;
  background: var(--first-color);
  color: var(--second-color);
  cursor: pointer;
  border: 1px solid var(--first-color);
  margin-top: 10px;
}
.hero-button:hover {
  cursor: pointer;
  background: var(--second-color);
  color: var(--first-color);
  border: none;
}
.pulsate {
  animation: pulsate 3s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.3s;
  color: #000;
}
@keyframes pulsate {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.vid {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  display: none;
}
.vid1 {
  display: block;
}

/*About Us */
#about {
  padding: 40px;
}
.about {
  margin: 40px 0;
  display: flex;
}
.about-icon .fas {
  font-size: 60px;
  color: var(--first-color);
  margin-right: 20px;
}
.about-subtitle {
  text-transform: capitalize;
  color: var(--first-color);
  font-size: 25px;
}
.about-info {
  margin-top: 10px;
  line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover {
  transition: transform 2s ease, color 2s ease;
  transform: translateY(-10px);
  color: #cd6100;
  cursor: pointer;
}
@media screen and (min-width: 280px) {
  .title {
    position: absolute;
    top: 28vh;
    left: 17%;
    color: var(--first-color);
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) {
  .title {
    color: var(--first-color);
    font-size: 10px;
  }
  .hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 21px;
    position: absolute;
    top: 60vh;
    border-radius: 200px;
    font-weight: bold;
    font-size: 14px;
    background: var(--first-color);
    color: var(--second-color);
    cursor: pointer;
    border: 1px solid var(--first-color);
    margin-top: 40px;
  }
}
@media screen and (min-width: 375px) {
  .title {
    position: absolute;
    top: 40vh;
    left: 15%;
    color: var(--first-color);
    font-size: 30px;
  }

  .hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 25px;
    position: absolute;
    top: 60vh;
    border-radius: 200px;
    font-weight: bold;
    background: var(--first-color);
    color: var(--second-color);
    cursor: pointer;
    border: 1px solid var(--first-color);
    margin-top: px;
  }
}
@media screen and (min-width: 576px) {
  .home_container {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .about-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about {
    flex: 0 0 calc(50% - 16px);
  }
}
@media screen and (min-width: 768px) {
  .title {
    position: absolute;
    top: 35vh;
    left: 10%;
    color: var(--first-color);
    font-size: 80px;
  }
  .hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 25px;
    position: absolute;
    top: 60vh;
    border-radius: 200px;
    font-weight: bold;
    background: var(--first-color);
    color: var(--second-color);
    cursor: pointer;
    border: 1px solid var(--first-color);
    margin-top: 10px;
  }
}

@media screen and (min-width: 972px) {
  .home_container {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .about {
    flex: 0 0 calc(33.3% - 16px);
  }
}
@media screen and (min-width: 1024px) {
  .title {
    position: absolute;
    top: 40vh;
    left: 30%;
    color: var(--first-color);
    font-size: 70px;
  }
  .hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 25px;
    position: absolute;
    top: 60vh;
    border-radius: 200px;
    font-weight: bold;
    font-size: 14px;
    background: var(--first-color);
    color: var(--second-color);
    cursor: pointer;
    border: 1px solid var(--first-color);
    margin-top: 30px;
  }
  .controls {
    display: none;
    position: absolute;
    top: 87vh;
    left: 50%;
  }
}

/*End Of About us*/

/*Menu section*/
.menu-image {
  min-height: 80vh;
  background: url(../images/2.jpg) center/cover fixed no-repeat;
}
.menu-text {
  min-height: 80vh;
  align-items: center;
  background: var(--first-color);
  columns: #000;
  padding: 40px 0;
}
.menu-text-center {
  width: 90%;
  margin: 0 auto;
}

.menu-text h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.menu-text p {
  margin: 20px 0;
  line-height: 2;
}
.menu-text a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 200px;
  font-weight: bold;
  background: rgb(10, 10, 10);
  color: var(--first-color);
  cursor: pointer;
  border: 2px solid #000;
}
.menu-text a:hover {
  cursor: pointer;
  color: var(--first-color);
  background: var(--second-color);
  border: none;
}
.xplore {
  animation: pulsate 3s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.3s;
  color: white;
}

@media screen and (min-width: 776px) {
  .menu {
    display: flex;
  }
  .menu-text {
    flex: 0 0 30%;
  }
  .menu-image {
    flex: 0 0 70%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  .menu {
    background: var(--first-color);
  }
}

/*End of menu section*/
/*Social icons*/
#social-icons {
  height: 150px;
  background: var(--second-color);
  text-align: center;
  padding: 50px 0 50px 0;
}
#social-icons a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 40px;
  border-radius: 5px;
  transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover {
  cursor: pointer;
  transform: translate(-20px);
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #38a1f3;
}
.instagram {
  color: #e1306c;
}
.plus {
  color: #db4839;
}
/*End Social icons*/
/*Numbers section*/
.number {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../images/3.jpg) center/cover no-repeat fixed;
  padding: 60px 0;
  color: var(--second-color);
}
.number p {
  font-size: 30px;
  font-weight: bold;
}
.number:hover {
  color: var(--first-color);
}
.number .fas {
  font-size: 60px;
  margin: 20px 0;
}
.number .fas:hover {
  cursor: pointer;
  color: var(--first-color);
}
.number h3 {
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  #numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  #numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*End of numbers section*/
/*cards*/
#food {
  padding: 20px;
}
.food-container {
  max-width: 90vw;
  margin: 0 auto;
}
.food-card {
  position: relative;
  background: linear-gradient(rgba(205, 96, 0, 0.7), rgba(205, 96, 0, 0.7));
  margin: 20px 0;
  color: #000;
  overflow: hidden;
  padding: 5px;
  border-radius: 18px;
  border: 1px solid var(--first-color);
}
#food img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: transform 4s;
  border-radius: 18px;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--second-color);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 4s;
}
.img-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 3px;
  opacity: 0;
  color: #000;
  transition: opacity 4s;
}
.img-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.food-card:hover img {
  opacity: 0.4;
  transform: scale(1.3);
  cursor: pointer;
}
.food-card:hover .img-text,
.food-card:hover .img-footer {
  cursor: pointer;
  opacity: 1;
}
.food-btn {
  display: inline-block;
  background: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 12px 32px;
  color: var(--first-color);
  font-weight: bold;
  border-radius: 180px;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  outline: none;
  border: none;
}
.food-btn:hover {
  cursor: pointer;
  color: #000;
  background: var(--first-color);
  outline: none;
  border: none;
}
.fas {
  font-size: 40px;
  color: var(--second-color);
}
@media screen and (min-width: 576px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
  }
}
/*End of cards*/
/*Gallery section*/
#gallery {
  padding: 40px;
}
#gallery .title-text {
  margin-bottom: 30px;
}
.gallery-item {
  background: linear-gradient(rgba(241, 161, 13)) rgb(rgb(255, 165, 0));
}
.gallery-item img {
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity 1s ease;
}
.gallery-item img:hover {
  opacity: 0.5;
}
@media screen and (min-width: 576px) {
  #gallery-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  #gallery-center {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*End of gallery section*/

/*contact section*/

.contact_container {
  row-gap: 2rem;
}
.contact_subtitle {
  font-size: 1rem;
  color: var(--first-color);
}
.contact_text {
  display: inline-block;
  margin-bottom: 1rem;
}
.contact_inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact_input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid #2a3b47;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.contact_button {
  display: block;
  background-color: var(--first-color);
  color: #000;
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.contact_button:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}
/*End of contact section*/

/*Footer*/
.footer {
  background-color: #2a3b47;
}
.footer_container {
  row-gap: 2rem;
}
.footer_data .footer_text {
  font-size: 18px;
  color: var(--first-color);
}
.footer_title {
  font-size: 1.4rem;
  color: var(--second-color);
  margin-top: 15px;
  margin-bottom: 1rem;
}
.footer_link {
  font-size: 18px;
  padding: 0.25rem 0;
}
.footer_link:hover {
  cursor: pointer;
  color: var(--second-color);
}
.footer_social {
  font-size: 1.8rem;
  margin-right: 0.6;
}
.footer_social:hover {
  cursor: pointer;
  color: var(--second-color);
}
#footer_copyright {
  color: var(--first-color);
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
}
/*End of footer*/
